/* popupStyles.css */
/* .popup-window {
    -fx-background-color: transparent; /* Set the background color of the entire popup window to transparent 
    -fx-background-image: url('Images/c3.jpg'); /* Replace 'your-image-file.png' with the path to your image 
    -fx-background-size: cover; /* Set the background image size to cover the window 
    -fx-background-repeat: no-repeat; /* Prevent the background image from repeating 
    -fx-padding: 10;
} */
.alert .header-panel {
    -fx-font-size: 20px; /* Set the header font size */
    -fx-font-weight: bold; /* Set the header font weight */
    -fx-font-family: "Arial"; /* Set the header font family */
}

.alert .content {
    -fx-font-size: 22px; /* Set the content font size */
    -fx-font-family: "Calibri"; /* Set the content font family */
}
.popup-window {
    -fx-background-color: linear-gradient(to bottom, #0084db, #cbd8e0);
}
.combo-box {
    -fx-background-color: linear-gradient(to bottom, #f8f8f8, #ffffff); /* Background color for ComboBox */
    -fx-text-fill: rgb(1, 1, 1);
    /* Text color for ComboBox */
}
.alert {
    /* -fx-background-image: url('Images/p2.jpg');
    -fx-background-size: cover; /* Adjust as needed 
    -fx-background-repeat: no-repeat; */
    -fx-background-color: linear-gradient(to bottom, #ffa600, #171715); /* Background color for ComboBox */
    -fx-text-fill: rgb(1, 1, 1);
}


/* Style for Button */
.button {
    -fx-background-color: linear-gradient(to top, #ffffff, #fffdfc); /* Background color for Button */
    -fx-text-fill: rgb(2, 2, 2); /* Text color for Button */
}