/* Rectangular-shaped buttons with rounded corners */
.button {
    -fx-background-radius: 5; /* Adjust the radius as needed */
    -fx-min-width: 140px;
    -fx-min-height: 50px;
    -fx-max-width: 140px;
    -fx-max-height: 50px;
    -fx-background-color: linear-gradient(to bottom, #c65f9b, #0f0b50);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 5, 5);
}


.button:hover {
    -fx-background-color: linear-gradient(to bottom, #009933, #b0d3de);
}

/* Title with drop shadow effect */
.title-text {
    -fx-font-size: 80px;
    -fx-font-weight: bold;
    -fx-fill:linear-gradient(to bottom,#c65f9b,#0f0b50);/* rgb(138, 17, 57);*/
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 10, 0, 5, 5);
}


#match-details-vbox {
    /* -fx-background-image: url('Images/p2.jpg');
    -fx-background-size: cover; /* Adjust as needed 
    -fx-background-repeat: no-repeat; */
    -fx-background-color: linear-gradient(to bottom, #056f5c, #f7ad19); /* Background color for ComboBox */
    -fx-text-fill: rgb(1, 1, 1);
    
}

#match-team1-vbox {
    /* -fx-background-image: url('Images/p2.jpg');
    -fx-background-size: cover; /* Adjust as needed 
    -fx-background-repeat: no-repeat; */
    -fx-background-color: linear-gradient(to top, #056f5c, #f7ad19); /* Background color for ComboBox */
    -fx-text-fill: rgb(1, 1, 1);
}
#match-team2-vbox {
    /* -fx-background-image: url('Images/p2.jpg');
    -fx-background-size: cover; /* Adjust as needed 
    -fx-background-repeat: no-repeat; */
    -fx-background-color: linear-gradient(to bottom, #056f5c, #f7ad19); /* Background color for ComboBox */
    -fx-text-fill: rgb(1, 1, 1);
}
#match-last-vbox {
    /* -fx-background-image: url('Images/p2.jpg');
    -fx-background-size: cover; /* Adjust as needed 
    -fx-background-repeat: no-repeat; */
    -fx-background-color: linear-gradient(to top, #056f5c, #f7ad19); /* Background color for ComboBox */
    -fx-text-fill: rgb(1, 1, 1);
}


.text-field-with-border {
    -fx-border-color: #000000; /* Border color (black in this example) */
    -fx-border-width: 1px;     /* Border width */
}